.call-to-actions {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 0;
  width: 100%;
  position: relative;
  justify-content: space-between;
}

.call-to-actions-image {
  position: relative;
  top: 24px;
  border-radius: 16px;
  width: min(375px, 100%);
  height: 400px;
  overflow: hidden;
}

.call-to-actions-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.call-to-actions-content {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 24px 0;
  width: min(360px, 100%);
  color: var(--lm-light-color);
}

.call-to-actions-content h3,
.call-to-actions-content p {
  margin-bottom: 24px;
}

.call-to-actions-content p {
  font-size: 20px;
  width: 80%;
}

@media (min-width: 1200px) {
  .call-to-actions {
    flex-direction: row-reverse;
  }
}
