.highlights {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

.highlights .container {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.hero + .highlights .container {
  padding-top: 6rem;
}

.highlights .container {
  display: flex;
}

.highlights-heading {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}

.highlights-specials {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.highlights-specials .specials {
  margin-bottom: 1rem;
}
