.booking-form {
  display: flex;
  width: 40%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  box-sizing: border-box;
  margin: 32px auto;
  gap: 16px;
}

.booking-form-row {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  gap: 16px;
  width: 100%;
  margin-bottom: 24px;
}

.booking-form-input {
  width: 100%;
}
