html,
body {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
}

:root {
  --lm-primary-color: #495e57;
  --lm-accent-color: #f4ce14;
  --lm-secondary-color: #ee9972;
  --lm-alternate-color: #fbdabb;
  --lm-light-color: #edefee;
  --lm-dark-color: #333333;
  --lm-font-faily: Karla, sans-serif;
  --lm-heading-font-family: "Markazi Text", serif;
}

#root {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-rows: calc(76px + 20px * 2) 1fr 400px;
  min-height: 100vh;
}

body {
  font-family: var(--lm-font-faily);
  font-size: 16px;
  font-weight: normal;
  background-color: #ffffff;
  color: #000000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--lm-heading-font-family);
}

h1 {
  font-family: 64px;
}

h2 {
  font-size: 40px;
}

a {
  text-decoration: none;
}

header {
  grid-area: header;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  width: 100%;
  gap: 1rem;
  height: calc(76px + 20px * 2);
}

.logo {
  display: inline-block;
  width: 200px;
}

.logo img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 60px;
  gap: 1rem;
}

nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  align-items: center;
  gap: 1rem;
}

nav ul li a {
  color: var(--lm-dark-color);
  font-size: 20px;
  font-weight: 500;
}

main {
  grid-area: main;
}

footer {
  background-color: var(--lm-light-color);
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav,
.container {
  max-width: 880px;
}

.hero {
  background-color: var(--lm-primary-color);
  height: 375px;
}

.hightlights {
  background-color: #ffffff;
  height: 745px;
}

.testimonials {
  background-color: var(--lm-light-color);
  height: 745px;
}

.about {
  background-color: #ffffff;
  height: 745px;
}
