html,
body {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
}

:root {
  --lm-primary-color: #495e57;
  --lm-accent-color: #f4ce14;
  --lm-warn-color: hsl(0, 94%, 69%);
  --lm-secondary-color: #ee9972;
  --lm-alternate-color: #fbdabb;
  --lm-light-color: #edefee;
  --lm-dark-color: #333333;
  --lm-font-family: Karla, sans-serif;
  --lm-heading-font-family: "Markazi Text", serif;
  --lm-light-grey-color: #edefee;
  --lm-background-color: #ffffff;
}

body {
  font-family: var(--lm-font-family);
  font-size: clamp(0.625rem, 0.3922rem + 1.0345vw, 1rem);
  font-weight: normal;
  background-color: #ffffff;
  color: #000000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--lm-heading-font-family);
}

h2 {
  font-size: clamp(3.5rem, 3.1897rem + 1.3793vw, 4rem); /* 64px*/
}

h3 {
  font-size: clamp(2rem, 1.6897rem + 1.3793vw, 2.5rem); /* 40px*/
}

a {
  color: #000000;
  text-decoration: none;
}

a:visited {
  color: #000000;
}

.container {
  max-width: 880px;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.text-accent {
  color: var(--lm-accent-color) !important;
}

.text-secondary {
  color: var(--lm-secondary-color) !important;
}

.flex-column {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-grow: 1;
}

.text-bold {
  font-weight: bold;
}

input,
select {
  font-family: var(--lm-font-faily);
  padding: 0.65rem 1rem;
  border-radius: 8px;
  border: 1px solid var(--lm-light-grey-color);
  outline: none;
}

select {
  appearance: none;
  position: relative;
  background-image: url("/public/assets/icons/dropdown-toggle.svg");
  background-repeat: no-repeat;
  background-position: calc(100% - 10px) center;
}

select::after {
  content: ">";
  width: 1rem;
  height: 1rem;
  position: absolute;
  color: currentColor;
  right: 10px;
}

input:focus,
input:hover,
select:focus,
select:hover {
  border-color: var(--lm-primary-color);
}

input:focus,
select:focus {
  outline: 0;
  -webkit-box-shadow: 0px 0px 4px 4px rgb(73, 94, 0.3);
  -moz-box-shadow: 0px 0px 4px 4px rgba(162, 173, 3, 0.3);
  box-shadow: 0px 0px 4px 4px rgba(162, 173, 3, 0.3);
}

.spacer {
  flex: 1 1 auto;
}
