.call-to-actions {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  padding: 0 1rem;
  width: 100%;
  position: relative;
  justify-content: space-between;
  align-items: center;
}

.call-to-actions-image {
  display: none;
  position: relative;
  top: 2rem;
  border-radius: 16px;
  width: min(25%, 250px);
  height: auto;
  aspect-ratio: 2 / 2.2;
  overflow: hidden;
}

@media (min-width: 425px) {
  .call-to-actions-image {
    display: block;
  }
}

.call-to-actions-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.call-to-actions-content {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 1.5rem 0;
  flex: 1;
  color: var(--lm-light-color);
}

/* @media (min-width: 1440px) {
  .call-to-actions-image {
    width: 50%;
  }
} */

.call-to-actions-content h3,
.call-to-actions-content p {
  margin-bottom: 1.5rem;
}

.call-to-actions-content p {
  font-size: 20px;
}

@media (min-width: 880px) {
  .call-to-actions-image {
    width: 45%;
  }
}
